@font-face {
  font-family: 'cmu';
  font-style: normal;
  font-weight: 400;
  src: local('cmu'), local('cmu-Regular'), url(ash/cmunrm-webfont.woff) format('woff');
}


html, body {
    background: #666;
    color: #fff;
    font-family: 'tex', serif;
	font-size: 18px;
}
