@font-face {
  font-family: 'cmu';
  font-style: normal;
  font-weight: 400;
  src: local('cmu'), local('cmu-Regular'), url(ash/cmunrm-webfont.woff) format('woff');
}

html {
	font-family: 'tex', serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

html, body {
    background-color: #666;
    color: #fff;
}
